<div class="row">
  <button class="btn btn-primary col-1" (click)="navigateTo('\books')">Books</button>
  <button class="btn btn-secondary col-2 ml-3" (click)="navigateTo('\createBook')">Create Book</button>
</div>

